* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
}

.drawing {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
